{% extends "base.html" %}

{% block title %} Reset Password Complete {% endblock title %}
{% load static %}

{% block content %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">


    <div class="col-lg-6">

    <div class="card">
        <div class="card-body pt-3 text-center">
          <h1>Password reset complete</h1>
          <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
          
        </div>
    
      </div>
    </div>
</section>
</div>
</main>
{% endblock content %}



