{% extends 'base.html' %}

{% block content %}

<main id="main" class="main">
<div class="alert alert-primary bg-primary text-light border-0 alert-dismissible fade" role="alert" id="ajaxResponseDiv">
    <!-- Content will be dynamically added here -->
            Downloading videos from the playlist. Please check your downloads folder.

    <button type="button" class="btn-close close_alert btn-close-white"">
    </button>
</div>

    <div class="pagetitle">
      <h1>Youtube Videos Download</h1>

    </div><!-- End Page Title -->

    <div class="container">
       <section class="section dashboard">
              <div class="row">
                <!-- Right side columns -->
                <div class="col-lg-12">

                  <!-- Recent Activity -->
                  <div class="card">
                    <div class="card-body">
                        <form action="{% url 'youtube_multi_video_info' %}" method="post" class="w-100 pt-5">
                            {% csrf_token %}
                            <div class="row mb-3">

                              <div class="col-sm-11 py-2">
                                <input type="search"  id="url" name="url" placeholder="Paste YouTube Playlist URL(Link) Here" required class="form-control">
                              </div>
                                <div class="col-sm-1 py-2">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
      </section>
    </div>
    {% if videos %}
    <div class="container">
       <section class="section dashboard">
              <div class="row">
                <!-- Right side columns -->
                <div class="col-lg-12">

                  <!-- Recent Activity -->
                  <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                             <h2>Download Below</h2>
                        </div>

                         <div class="yt-thumb d-flex flex-column align-items-center">
                             {% if thumbnail %}
                            <a href="{{url}}" target="_blank">
                                <img src="{{thumbnail}}" alt="thumbnail" width="300" height="180">
                            </a>
                             {% endif %}
                            <h2 class="mt-3 mb-4 mx-2">{{title}}</h2>
                             <h5 class="mx-2">Total Videos : {{total_videos}}</h5>
                                    {% csrf_token %}
                                <input type="hidden" name="playlist_url" value="{{url}}"/>
                                 <button class="btn btn-danger download_all_btn">Download All </button>
                        </div>

                        <div class=" mt-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Video</th>
                                        <th>Title</th>
                                        <th>Size</th>
                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for video in videos %}
                                        <tr>
                                            <td>
                                                 <a class="video_url_check" href="{{video.video_url}}" target="_blank">
                                                    <img src="{{video.thumbnail_url}}" alt="thumbnail" width="200" height="180">
                                                </a>
                                            </td>
                                            <td>
                                                {{video.title}}
                                                <span class="show_downloaded"></span>
                                            </td>
                                            <td>
                                                {{video.size}} MB
                                            </td>
                                            <td>
                                                    {% csrf_token %}
                                                        <input type="hidden" name="url" value="{{video.video_url}}">
                                                        <input type="hidden" name="itag" value="{{video.itag}}">
                                                         <button class="download_all btn btn-success btn-sm download_btn">Download</button>
                                            </td>

                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
       </section>
    </div>
    {% endif %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('.close_alert').click(function() {
         $('.alert').removeClass('show')
    })

    console.log(">>>>>Step 1")
    $('.download_all_btn').click(function(e) {
        e.preventDefault(); // Prevent the default form submission

        var csrfToken =$(document).find('input[name="csrfmiddlewaretoken"]').val(); // Get CSRF token
            var playlistUrl = $('input[name="playlist_url"]').val(); // Get playlist URL
        var formData = {'csrfmiddlewaretoken': csrfToken, 'playlist_url': playlistUrl}; // Form data object

    console.log(">>>>>Step 2",csrfToken)

        $.ajax({
            type: 'POST',
            url: '{% url "download_playlist_videos" %}',
            data: formData,
            headers: {'X-CSRFToken': csrfToken}, // Include CSRF token in headers
            success: function(response) {
                // Handle the success response
<!--                alert('Downloading videos from the playlist. Please check your downloads folder.');-->
                $('.alert').addClass('show')
                // You can also redirect the user or update the UI as needed
            },
            error: function(xhr, status, error) {
                // Handle errors if any
                alert('Error occurred while downloading. Please try again.');
            }
        });
    });
});


<!--######### wesocket socket ###########-->

 {% if user.is_authenticated %}
         {% with room_name=user.username %}

         const roomName ="{{ room_name }}";
         console.log(">>>>>>>>>roomName",roomName)
        {% endwith %}

           const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/notification/'
            + roomName
            + '/'
        );

          // Send a heartbeat message every 10 minutes
        const heartbeatInterval = 5 * 60 * 1000; // 5 minutes
        let heartbeatTimer;

        function sendHeartbeat() {
            console.log(">>>>>>>",notificationSocket.readyState,WebSocket.OPEN)
          if (notificationSocket.readyState === WebSocket.OPEN) {
<!--            console.log(">>>> step 2",notificationSocket)-->
            notificationSocket.send(JSON.stringify({ message: 'heartbeat' }));
<!--            console.log(">>>>notificationSocket",notificationSocket)-->
          }
        }

        notificationSocket.onopen = function() {
            console.log(">>>open")
          // Set up heartbeat interval
          heartbeatTimer = setInterval(sendHeartbeat, heartbeatInterval);
        };


        notificationSocket.onmessage = function(e) {
             console.log(">>>sdssds>>>e",e)
            const data = JSON.parse(e.data);
           if (data.message != 'heartbeat'){
            console.log(">>>>>>>received",data.message,data.video_url)
             $('a.video_url_check').each(function() {
                console.log("<<<<<<",$(this).attr('href'),data.video_url)
                    if ($(this).attr('href').split("watch?")[1] === data.video_url.split("watch?")[1]) {

                        $(this).closest('tr').find('td:nth-child(2)').find('span')[0].style.borderRadius='5px'
                        $(this).closest('tr').find('td:nth-child(2)').find('span')[0].style.padding='5px'
                        $(this).closest('tr').find('td:nth-child(2)').find('span')[0].style.background='blue'

                        $(this).closest('tr').find('td:nth-child(2)').find('span').text(`(${data.message})`);
                    }
                });
           }
       }
        notificationSocket.onerror = function(e) {
            console.log(">>>error",e)
        }

        notificationSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            clearInterval(heartbeatTimer); // Clear the heartbeat interval
            heartbeatTimer = setInterval(sendHeartbeat, heartbeatInterval);

        };

        $('.download_all').click(function(e) {
        console.log(">>>>>>>e",e)
        e.preventDefault(); // Prevent the default form submission

        var csrfToken =$(document).find('input[name="csrfmiddlewaretoken"]').val(); // Get CSRF token
            var url = $(e.target.parentElement.parentElement).find('input[name="url"]').val() // Get playlist URL
            var itag = $(e.target.parentElement.parentElement).find('input[name="itag"]').val(); // Get playlist URL

        var formData = {'csrfmiddlewaretoken': csrfToken,'url':url,'itag': itag}; // Form data object

    console.log(">>>>>Step 2",formData)

        $.ajax({
            type: 'POST',
            url: '{% url "youtube_single_file_download" %}',
            data: formData,
            headers: {'X-CSRFToken': csrfToken}, // Include CSRF token in headers
            success: function(response) {
                // Handle the success response
<!--                alert('Downloading videos from the playlist. Please check your downloads folder.');-->
                $('.alert').addClass('show')
                // You can also redirect the user or update the UI as needed
            },
            error: function(xhr, status, error) {
                // Handle errors if any
                alert('Error occurred while downloading. Please try again.');
            }
        });
});



    {% endif %}
</script>
{% endblock content %}